{{#if success_msg}}
<div class="alert alert-success mt-4" style="z-index: 10;">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger mt-4" style="z-index: 10;">{{error_msg}}</div>
{{/if}}