{{#each errors}}

<div class="alert alert-danger">{{text}}</div>

{{else}}

{{/each}}

<div class="d-flex justify-content-center mt-5">
  <div class="col-md-6 card">
    <div class="card-body">
      <form action="/cadastro/novo" method="POST">
        <h2 class="text-center">Cadastrar</h2>
        <div class="form-group">
          <label>Nome de Usuario</label>
          <input type="text" class="form-control" name="username" placeholder="Nome de Usuário">
        </div>
        <div class="form-group">
          <label for="pass">Senha</label>
          <input type="password" class="form-control" maxlength="12" name="pass" placeholder="Senha">
        </div>
        <div class="form-group">
          <label for="passConfirm">Confirmar Senha</label>
          <input type="password" class="form-control" name="passConfirm" maxlength="12" placeholder="Senha">
        </div>
        <button type="submit" class="btn btn-black center mt-4">Cadastrar</button>
      </form>
    </div>
  </div>

</div>